<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="classpath:application.properties"/>

    <bean id="technicalBook" class="com.arinauniversity.astor.TechnicalBook">
    </bean>

    <bean id="fantasyBook" class="com.arinauniversity.astor.FantasyBook">
    </bean>

    <bean id="figure" class="com.arinauniversity.astor.Figure">
        <constructor-arg value="Tree"/>
    </bean>

    <bean id="bookShelf" class="com.arinauniversity.astor.BookShelf" scope="prototype">
        <property name="bookList">
            <list>
                <ref bean="technicalBook"/>
                <ref bean="fantasyBook"/>
            </list>
        </property>
        <property name="figure" ref="figure"/>
        <property name="owner" value="${owner}"/>
        <property name="space" value="${space}"/>
    </bean>

</beans>